/*
    Global settings
 */
body{
    font-family: 'Roboto','verdana',sans-serif;
}
/*
    Container specific settings
 */
.container{
    position:relative;
    margin-top:25px;
}

/*
    Header specific settings here
*/

div.header{
    position:relative;
    width:100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 2px;
    /* Permvalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
    background: rgb(63,76,107); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div.header-text h3,span{
    color: #FFFFFF;
    margin-left: 10px;
}

div.header-text span{
    display:block;
    font-size:14px;
    margin-bottom:10px;
    margin-top:-10px;
}

div.header-text h3{
    font-family:'Bungee Inline';
    font-weight:normal;
}

/* 
    Service specific settings here 
*/
hr{
    margin-top:10px;
    border:1px solid #3F4C6B;
}

.team{
    position:relative;
    margin:auto;
    margin-bottom:20px;
    text-align:center;
    width:85%;
    height:400px;
    padding:5px;
    padding-top:20px;
    border-radius:5px;
    box-shadow: 0px 0px 5px gray;
    transition: background-color 0.2s ease-in,color 0.2s ease-in;
}

.team:hover{
    background-color:#3F4C6B;
    color: #FFFFFF;
}

.team-member{
    position:relative;
    margin:auto;
    margin-bottom:10px;
    width:150px;
    height:150px;
    border:1px solid #3F4C6B;
    border-radius:100%;
    background-color:#FFFFFF;
    transition: border 0s ease-in;
}

.team:hover .team-member{
    border:1px solid #3F4C6B;
}

.team p.member-specialization{
    font-weight:bold;
    transition: color 0.2s ease-in;
}

.team-member img{
    position:absolute;
    max-width:80%;
    max-height:80%;
    top:0;
    bottom:0;
    left:10%;
    margin:auto;
}

.team:hover p.member-specialization{
    color:#FFFFFF;
}

.team a.button{
    position:absolute;
    text-align:center;
    width:120px;
    margin-left:-60px;
    left:50%;
    bottom:20px;
    background-color:#4CAF50;
    border:1px solid #4CAF50;
    transition:background-color 0s linear;
}

a.button:hover{
    background-color:#4CBF40;
}
